/* show me the box model 
* {
border: 1px solid red !important
}
*/
/* Begin - Styling for xRulz custom screen */

/* 	button position  */
.xrulz_button  {  
    margin-right: 18em;
	float: right;
    }
	
/* button styling         */	
.xrulz_button .button {
    text-align: center;
    border-top: 1px solid #656565;
    border-left: 1px solid #656565;
    border-bottom: 2px solid #656565;
    border-right: 2px solid #656565;
	background-color:#cfcfcf;
    background-image:url('../images/rtnav_header_bg.gif');
    cursor: pointer;   
}	
.xr_cs_01_radio {
	float: left;
	margin-top: 1em;
	margin-left:3em;
}
input[type="radio"]:checked + .xr_01_sel {
    color:#E18700;
}	
.xr_01_sel {
   text-align:left;
}
.xr_cs_01_listval {
	border: 1px solid blue;
	float: left;
	color: #4683AF;
	font-weight:bold;
	text-align:left;
}
.xp {
    font-size: 16px; 
	margin-left: 4em;	
}	

/* Styling for cs_02 */

.xr_cs_02_radio {
	float: left;
	margin-top: 1em;
	margin-left:3em;
}
input[type="radio"]:checked + .xr_02_sel {
    color:#E18700;
}	
.xr_02_sel {
   text-align:left;
}

/* End - Styling for xRulz custom screen */

.radio-group radio, .radio-group-boolean radio {
  width: 2.3em;
  height: 2.3em;
  }
  
.control-checkbox   {
  margin-bottom: 1.5em;
}

/* float the text right on labels */
.rt {
    text-align: right;
}

/* ------------------------------------------ */
/* standard xrulx styling for client KENTUCKY */
/* ------------------------------------------ */

body { 
	font-family: Calibri, Tahoma, Arial, sans-serif;
    font-size: 16px;
}

 i ,p {
    font-size: 16px; 
	margin-left: 4em;	
}

/* size header height to the image */

#header {
  height: 64px !important;
  }

.nobr  {
  margin-bottom: 0;
} 
 h1, h2, h3, .heading1, .heading2, .heading3 {
   	font-family: Calibri, Tahoma, Arial, sans-serif;
    color: #003D6E;
}                                                                           

img.center { 
    display: block;   
	margin-left: auto;   
	margin-right: auto; 
}

/* text red */
.tred {
   color: #C80000;
}
/* text green */	
.tgreen {
   color: green;
}
/* text kentucky blue */
.tblue {
   color:#003D6E;
}
.pi  {
   margin-left: 5em;
}
/* paragraph in large, Kentucky blue */	
.pbb {
    margin-left: 3em;
    color: #003D6E;
    font-size: 22px;
 }
.ps {
    margin-left: 4em;
	font-size: 14px;
} 
 /* paragraph in kentucky blue */  
.pb {
	margin-left: 4em;	
	color: #003D6E;
}
/* paragraph in kentucky blue strong */  
.pbs {
	margin-left:4em;	
	color: #003D6E;
	font-weight:bolder;
}
/* paragraph in green */	
.pg {
	margin-left: 4em;	
	color: green;
}
/* paragraph in red */
.pr {
	margin-left: 4em;	
	color: #C80000;
}
/* paragraph in red centered*/
.pred {
	text-align:center;	
	color: #781F1C;
	font-weight:bold;
}
/* paragraph in kentucky blue centered*/
.pblue {
	text-align:center;	
	color: #003D6E;
	font-weight:bold;
}

ul li {
    padding: 2px 0 0 10px;
    list-style: none; 
    list-style-position: inside;
    margin-left: 5em;
}
/* unstyled li */
.ns {  
    list-style: none;   
    margin-left: 5em;
}
/*  special styling for the base period and benefit year instructional page */
.xtable  {
	margin-left: 5em;
    border-collapse:collapse;
}
.xtd  {
	margin-left: 5em;
	padding-left: 3em;
	padding-right: 3em;
}
.xth {
	margin-left: 5em;
	padding-left: 3em;
	padding-right: 3em;
    color: #4683AF;
}
/* end special styling */

.tc {
   text-align:center;
 }
.tb {
   font-weight:bold;
 }
 
.tbb {
	font-size: 20px;
	color: #C80000;
 }
 
.tbr {
   font-weight:bold;
   color: #C80000;
}

/* text center blue */
.tcu {
   text-align:center;
   color: #003D6E;
 }
/* text center blue */ 
.tcb {
   text-align:center;
   color: #003D6E;
   font-weight:bolder;
 }
 
#owd-input {
   color: #003D6E;
}   
 
#printbutton {
text-align: center;
}


