#################
## xRulz OPA
#################
*.rmod
ky_fpr.zip
ky_ui_fc.zip
## OPM Build Dirs
Release/
ky_fpr/Development/output/ky_fpr.rmod
ky_ui_fc/Development/output/ky_fpr.rmod
ky_ui_fc/Development/output/ky_ui_fc.zip
ky_ui_fc/Development/output/ky_fpr.rmod
ky_ui_fc/Development/output/ky_ui_fc.zip
*.xgen
