#set( $contextPath = ${screen.getContext().getContextPath()})
#set( $rulebaseName = ${screen.getEncodedRulebaseID()} )
#set( $locale = ${screen.getLocaleString()} )
#set( $goalID = ${screen.getEncodedGoalID()} )
#set( $screenID = ${screen.getEncodedScreenID()} )
## tabindexes need to be incremented for each html control, there may be many html controls rendered per rulebase screen control
#set($tabIndex = 1)
#macro( tabIndex )
${tabIndex}#set($tabIndex = $tabIndex + 1)
#end
<form id="owdInterviewForm" name="form" accept-charset="UTF-8" method="POST" action="${post-uri}" target="${frameset-top-target}">
	#if(${goal-state})
		<input name="goal-state" type="hidden" value="${goal-state}"/>
	#end
	#set($xr_sid = $screen.getProperty("xRulzScreenId",""))
	## Select for the specific custom screen

	#if( "xr_cs_01" == $xr_sid )
		#parse( "xrulz/xr_cs_01.vm" )
    #elseif( "xr_cs_02" == $xr_sid )
		#parse( "xrulz/xr_cs_02.vm" )
    #elseif( "xr_cs_03" == $xr_sid )
		#parse( "xrulz/xr_cs_03.vm" )
	#elseif( "xr_cs_dg" == $xr_sid )
		#parse( "xrulz/xr_cs_dg.vm" )
	#end
</form>
