## Template for question screen, used to display main page asking questions and progressing the investigation
#if( ${pagedir-right-to-left} == "true" || ${pagedir-right-to-left} == "True" )
    #set($pagedirString = "rtl")
#else
    #set($pagedirString = "ltr")
#end

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="${screen.getLocale()}" dir="${pagedirString}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta http-equiv="content-language" content="${screen.getLocale()}">
        <title>${header-title}</title>
        <link rel="stylesheet" type="text/css" href="${context-root-path}${resource-request}/reset.css" >
        <script type="text/javascript">
            #parse("includes/javascript-utilities.vm")
        </script>
        <style type="text/css">
    <!--
    ${css-text}
    -->
        </style>
       <script src="${context-root-path}${resource-request}/jquery-1.7.1.min.js"></script>
	   <script type="text/javascript">
            #parse("includes/fix-target-js.vm")
       </script>
    </head>
    <body>
        <div id="wrapper">
            #parse("includes/header.vm")
            #set($show-empty-menu-bar = true)
            #parse("includes/menu-bar.vm")
            #parse("includes/status-bar.vm")

            <div id="content">
                <div id="investigation">
                    #parse( "investigation/screen-messages.vm" )
                    ## Import the form template and allow it to use this template's velocity context
                    #parse( "investigation/form.vm" )
                </div>
            </div>
        </div>
        #parse("includes/footer.vm")
    </body>
</html>