## The default error handling page.
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
#if( ${pagedir-right-to-left} == "true" || ${pagedir-right-to-left} == "True" )
    #set($pagedirString = "rtl")
#else
    #set($pagedirString = "ltr")
#end

<html lang="${locale}" dir="${pagedirString}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <title>${header-title}</title>
        <link rel="stylesheet" type="text/css" href="${context-root-path}${resource-request}/reset.css">
        <style type="text/css">
<!--
${css-text}
-->
        </style>
       <script src="${context-root-path}${resource-request}/jquery-1.7.1.min.js"></script>
	   <script type="text/javascript">
            #parse("includes/fix-target-js.vm")
       </script>
    </head>

    <body>
        <div id="wrapper">
            #parse("includes/header.vm")
            #set($show-empty-menu-bar = true)
            #parse("includes/menu-bar.vm")

            <div id="content">
                <div class="left"></div>
                <div class="center">
                    <div class="system-error">
                        <h2>${message}</h2>
                    </div>
                </div>
                <div class="right"></div>
            </div>
        </div>
        #parse("includes/footer.vm")
    </body>
</html>