## Summary screen, first and typically last screen displayed in an investigation
##  Displays known and unknown goals and high level decision reports with navigation
#if( ${pagedir-right-to-left} == "true" || ${pagedir-right-to-left} == "True" )
    #set($pagedirString = "rtl")
#else
    #set($pagedirString = "ltr")
#end

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html lang="${screen.getLocale()}" dir="${pagedirString}">
<frameset cols="*,${frameset-commentary-width}">
    <frame name="${opa-interview-frameset}" src="$!investigation-frame-url" title="${frame-interview-title}"/>
    <frame name="${opa-commentary-frameset}" src="$!commentary-frame-url" title="${frame-commentary-title}"/>
</frameset>
</html>