## Template for question screen, used to display main page asking questions and progressing the investigation

#if( ${pagedir-right-to-left} == "true" || ${pagedir-right-to-left} == "True" )
    #set($pagedirString = "rtl")
#else
    #set($pagedirString = "ltr")
#end


#if ($screen.hasCommentary())
    #set($question-content-style = "${question-content-left-style-with-commentary}")
    #set ($commentaryExists = $screen.hasCommentary())
    #set ($commentaryURL = $screen.getCommentaryURL())
#else
    #set($question-content-style = "${question-content-left-style}")
#end

#set($validCommentaryTarget = ${opa-commentary-type} == "iframe" || ${opa-commentary-type} == "frameset" || ${opa-commentary-type} == "popup")


## set the target for control and commentary
#if ( ${opa-commentary-type} == "iframe" )
    #set($commentaryTarget = ${opa-commentary-iframe})
#end

#if ( ${opa-commentary-type} == "frameset" )
    #set($commentaryTarget = ${opa-commentary-frameset})
#end


<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="${screen.getLocale()}" dir="${pagedirString}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="${screen.getLocale()}">
    <title>${screen.getTitle()} - ${header-title}</title>
    <link rel="stylesheet" type="text/css" href="${context-root-path}${resource-request}/reset.css">
	## xRulz Modification Starts 
	## Last Updated 2013-04-29
	## Include the replacement or additional ui widget (javascripts) that will be used by the question screens,
	## and give them extensions '.vm' so the VTL parser will recognize them.
		<link rel="stylesheet" type="text/css" href="${context-root-path}${resource-request}/jquery-ui.css">
				<link rel="stylesheet" type="text/css" href="${context-root-path}${resource-request}/xRulz/jquery-ui-1.10.3.custom.css">
				
		<script type="text/javascript" src="${context-root-path}${resource-request}/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="${context-root-path}${resource-request}/jquery-ui.min.js"></script>
	<script type="text/javascript">
		#parse("xrulz/xrulz-initialize.vm")
	</script>
	## xRulz Modification Ends
	
    #if(${enable-searching-comboboxes} == "true" || ${enable-searching-comboboxes} == "True")
    ##stylesheet includes
        <link rel="stylesheet" type="text/css" href="${context-root-path}${resource-request}/jquery.ui.core.css">
        <link rel="stylesheet" type="text/css"
              href="${context-root-path}${resource-request}/jquery.ui.autocomplete.css">
        <link rel="stylesheet" type="text/css" href="${context-root-path}${resource-request}/jquery.ui.button.css">
        <link rel="stylesheet" type="text/css" href="${context-root-path}${resource-request}/jquery.ui.theme.css">
    ##Javascript includes
        <script src="${context-root-path}${resource-request}/jquery.ui.core.js"></script>
        <script src="${context-root-path}${resource-request}/jquery.ui.widget.js"></script>
        <script src="${context-root-path}${resource-request}/jquery.ui.position.js"></script>
        <script src="${context-root-path}${resource-request}/jquery.ui.button.js"></script>
        <script src="${context-root-path}${resource-request}/jquery.ui.autocomplete.js"></script>
        <script type="text/javascript">
           #parse("includes/searchingcombo-js.vm")
       </script>
       <script type="text/javascript">
            #parse("includes/unsubmitted-data-warning-js.vm")
       </script>
    #end

    <script type="text/javascript">
        #parse("includes/javascript-utilities.vm")
    </script>
   <script type="text/javascript">
        #parse("includes/fix-target-js.vm")
   </script>
    <style type="text/css">
        <!--
            ${css-text}
        -->
    </style>
	## add the custom xrulz styles
	<link rel="stylesheet" type="text/css" href="${context-root-path}${resource-request}/xrulz_q.css">
</head>
<body>
        
<div id="wrapper">
    #parse("includes/header.vm")
    #parse("includes/menu-bar.vm")
    #parse("includes/status-bar.vm")
    #parse("includes/stages.vm")

    <div id="content">
		##xrulz screen customization
		#if( "true" == $screen.getProperty("xRulzCustomScreenId","") )
			## Custom Screen Logic
			<div id="investigation">
				#if( "" == $screen.getProperty("xRulzHideTitle","") )
					<h1 id="title">#parse ("investigation/screen-title.vm")</h1>
				#end
				## Report errors and warnings for the screen
					#parse( "investigation/screen-messages.vm" )
				## Import the form template and allow it to use this template's velocity context
					#parse( "xrulz/xrulz-form.vm" )
			</div>
		#else
			## Oracle OWD Vanilla
			<div id="investigation">
				#if( "" == $screen.getProperty("xRulzHideTitle","") )
					<h1 id="title">#parse ("investigation/screen-title.vm")</h1>
				#end
				## Report errors and warnings for the screen
					#parse( "investigation/screen-messages.vm" )
				## Import the form template and allow it to use this template's velocity context
					#parse( "investigation/form.vm" )
			</div>
		#end
        <div class="clear">&nbsp;</div>
        #if (${opa-commentary-type} == "iframe")
            #parse( "includes/commentary-iframe.vm" )
        #end
    </div>
</div>
    #parse("includes/footer.vm")
</body>
</html>