#set($idx = 1)
#macro( idx )
    ${idx}
    #set($idx = $idx + 1)
#end

#macro(renderChildControls $controlList)
    #foreach($node in $controlList)
        #if(${node.isVisible()})
            #if( ${node.getControlType()} == "DataReviewScreenNode")
                #renderScreenNode($node)
            #elseif(${node.getControlType()} == "Folder")
                #renderFolder($node)
            #elseif(${node.getControlType()} == "EntityInstanceCollectGroup")
                #renderEntityGroup($node)
            #elseif(${node.getControlType()} == "ContainmentRelationshipControl")
                #set($controlList = ${node.getControls()})
	        	#if($controlList.size() > 1)
	        		#renderChildControls($controlList)
	        	#else
	             	#renderNoChildControls()
	            #end
            #elseif(${node.getControlType()} == "ReferenceRelationshipControl")
	        	#renderReferenceRelationships($node $controlList)
            #elseif(${node.getDisplayValue()})
                #set($inputControl = ${node})
                #renderValue(${inputControl})
            #elseif(${node.getControls()})
               ##if the control is a container that we don't handle specifically iterate over its children
               ##to see if it contains something that needs to be rendered
               #set($controlList = ${node.getControls()})
               #renderChildControls(${controlList})
            #end
        #end
    #end
#end

#macro(renderScreenNode $screenNode)
    #set($screen = ${screenNode.getUnderlyingScreen()})
    <div class="data-review-screen-item">
        <li class="expanded" id="${screenNode.getEncodedID()}">
            <img class="nodeicon" src="${context-root-path}${image-resource-request}/${data-review-collapse-image}" alt="${tree-collapse-alt}"/>
            <a href="${screenNode.getURL()}">${screen.getTitle()}</a>
            <ul>
                #set($controlList = ${screen.getControls()})
                #renderChildControls(${controlList})
            </ul>
        </li>
    </div>
#end

#macro(renderValue $inputControl)
    <!-- value -->
    <div class="data-review-item">
        <li id=${inputControl.getEncodedID()}>
            <div class="data-review-input-text">${inputControl.getText()}</div>
            <div class="data-review-input-value">
                    ${inputControl.getListDisplayForValue()}
            </div>
        </li>
    </div>
#end

#macro(renderReferenceRelationships $relationshipControl $parentControlList)
    <!-- value -->
    #set($options = ${relationshipControl.getOptions()})
    #set($first = "true")
    #foreach($option in ${options})
        #if(${option.isSelected()})
            #if($first == "true")
                <div class="data-review-item">
                    <li id=${inputControl.getEncodedID()}#idx()>
                        <div class="data-review-input-text">
                            ${relationshipControl.getText()}
                            #set($first = "false")
                        </div>
                    </li>
                </div>
            #end
            <div class="data-review-item">
                <li id=${inputControl.getEncodedID()}#idx()>
                    <div class="data-review-input-value">&nbsp;${option.getDisplayValue()}</div>
                </li>
            </div>
        #end
    #end
    #if($first == "true" && $parentControlList.size() == 1)
    	#renderNoChildControls()
    #end
#end

#macro(renderEntityGroup $entityGroup)
    <!-- group -->
    <div class="data-review-entity-group" id="${entityGroup.getEncodedID()}">
        #set($controlList = ${entityGroup.getControls()})
       	#renderChildControls(${controlList})
    </div>
#end

#macro(renderNoChildControls)
    <div class="data-review-item">
        <li id=${inputControl.getEncodedID()}>
            <div class="data-review-input-text">${data-review-no-controls}</div>
            <div class="data-review-input-value">&nbsp;</div>
        </li>
    </div>
#end

#macro(renderFolder $folder)
    <!-- folder -->
    <div class="data-review-folder-item">
        <li class="expanded" id="${folder.getEncodedID()}">
            <img class="nodeicon" src="${context-root-path}${image-resource-request}/${data-review-collapse-image}" alt="${tree-collapse-alt}"/>
            <div class="folder-name">${folder.getText()}</div>
            <ul>
                #set($controlList = ${folder.getControls()})
                #renderChildControls(${controlList})
            </ul>
        </li>
    </div>
#end


#if ($control.isVisible())
    ## Render messages
    #parse( "investigation/controlMessages.vm" )
    ## Render static tree
    <div id="data-review">
        <ul class="datareview" id="${control.getEncodedID()}">
            #set($controlList = ${control.getControls()})
            #renderChildControls(${controlList})
        </ul>
    </div>
#end
