#if( $control.isVisible() )
    #parse( "investigation/controlMessages.vm" )

    <div class="relationship-control">

        #if( $control.isReadOnly() )
            #set( $readOnlyString = "readonly" )
        #else
            #set( $readOnlyString = "" )
        #end
        #if($renderQuestion != "false")
        <div class="question"><label for="${control.getEncodedID()}">#parse("investigation/control-text.vm")</label></div>
        #end

        #set ($options = ${control.getOptions()})
        ## render the relationship target entities selection controls.
        #if(${control.getDisplayStyle()} == "Checkboxes")
            <div class="spacer">&nbsp;</div>
            <div class="relationship-targets">
                #foreach( $option in ${options} )
                    #if(${option.isSelected()})
                        #set($checkedString = "checked")
                    #else
                        #set($checkedString = "")
                    #end
                    #set ($tabIndex = "#tabIndex()")
                    <div class="control-checkbox">
                        <input class="owd-input" type="checkbox" name="${option.getId()}" id="${option.getId()}${tabIndex}" value="${option.getId()}" ${checkedString} tabindex="${tabIndex}"/>
                        <label for="${option.getId()}${tabIndex}">${option.getDisplayValue()}</label>
                    </div>
                #end
            </div>
        #else
            <div class="spacer">&nbsp;</div>
                <div class="relationship-targets">
                <select class="owd-input" id="${control.getEncodedID()}" name="${control.getId()}" tabindex="#tabIndex()" $readOnlyString>
                    #if(!${control.getDisplayValue()})
                        <option selected value=""></option>
                    #else
                        <option value=""></option>
                    #end
                    #foreach( $option in ${options} )
                        #if( ${option.isSelected()} )
                           <option selected value="${option.getId()}">${option.getDisplayValue()}</option>
                        #else
                            <option value="${option.getId()}">${option.getDisplayValue()}</option>
                        #end
                    #end
                </select>
            </div>
        #end
    </div>
#end
