/* Attach the event handlers to each of the decision report and data review node images */
function attachClickHandlers() {
    var decisionReport = document.getElementById("drtree");
    if (decisionReport != null) {
    	attachClickHandlersForDecisionReportNodes(decisionReport);
    } else {
    	var images = document.getElementsByTagName("img");
        for (var i = 0; i < images.length; i++) {
            var imgNode = images[i];
            if (imgNode.className == 'nodeicon') {
                attachExpandCollapseFunction(imgNode);
            }
        }
    }

}

// Attach the click handler
function attachExpandCollapseFunction( node ) {
	node.onclick = expandCollapseTree;
}

function attachClickHandlersForDecisionReportNodes(decisionReport) {
    var images = (decisionReport == null) ? [] : decisionReport.getElementsByTagName("img");

    // For each of the images on the document, if it is a decision report node icon,
    // perform the specified function call
    var iterateReportNodes = function( target ) {
        for (var i = 0; i < images.length; i++) {
            var imgNode = images[i];
            if (imgNode.className == 'nodeicon') {
                target( imgNode );
            }
        }
    }

    // Collapse nodes beyond the specified depth
    var defaultTreeDepth = function( imgNode ) {
        var reportNode = imgNode.parentNode;
        var targetDepth = ${decision-report-default-depth};

        if((targetDepth > 0) && (reportNode.className == 'expanded')) {
            var depth = findNodeDepth( imgNode, decisionReport );

            if(depth >= targetDepth) {
                reportNode.className = 'collapsed';
                imgNode.src = "${context-root-path}${image-resource-request}/ei-expand.gif";
                imgNode.alt = "${tree-expand-alt}";
            }
        }
    }

    // Now invoke
    iterateReportNodes( attachExpandCollapseFunction );
    iterateReportNodes( defaultTreeDepth );
}

function findNodeDepth(node, targetParent) {
    var depth = 0;

    while((node != null) && (node != targetParent)) {
        if(node.tagName == "LI") {
            depth++;
        }
        node = node.parentNode;
    }

    return depth;
}

/* Event callback function invoked when a decision report/data review node icon is clicked */
function expandCollapseTree() {
    var currentNode = this.parentNode;
    var oldClass = currentNode.className;

    /* Ensure that the tag name of the node icon's parent element is a list item (the
     * node object */
    if (currentNode.tagName != 'LI') {
        return;
    }

    if (currentNode.className == 'expanded') {
        currentNode.className = 'collapsed';
        this.src = "${context-root-path}${image-resource-request}/ei-expand.gif";
        this.alt = "${tree-expand-alt}";
    } else if (currentNode.className == 'collapsed') {
        currentNode.className = 'expanded';
        this.src = "${context-root-path}${image-resource-request}/ei-collapse.gif";
        this.alt = "${tree-collapse-alt}";
    } else {
        return;
    }
    return;
}

/* Invoke the function to attach the click event handlers when this page loads */
if (window.addEventListener) {
    window.addEventListener("load", attachClickHandlers, false);
} else if (window.attachEvent) {
    window.attachEvent("onload", attachClickHandlers);
}