## Standard menu bar
## HTML Comments should be commented out when not debugging
## <!-- begin menu bar -->
#if(${show-menu-bar} == "true" || ${show-menu-bar} == "True")
    #set($menu-separator="<span> | </span>")
    <div id="menu">
        <div class="left">
            <div class="navigation">
            #if(!${show-empty-menu-bar})
                #set($separator="")
                #if((${show-summary} == "true" || ${show-summary} == "True") && ${summary-screen-uri})
                    $separator <a href="${summary-screen-uri}" target="${frameset-top-target}">${summary-text}</a>
                    #set($separator=$menu-separator)
                #end
                #if((${show-data-review} == "true" || ${show-data-review} == "True") && ${data-review-screen-uri})
                    $separator <a href="${data-review-screen-uri}" target="${frameset-top-target}">${data-review-text}</a>
                    #set($separator=$menu-separator)
                #end
            #else
                &nbsp;
            #end
            </div>
        </div>
        <div class="content">&nbsp;</div>
        <div class="right">
            #if(!${show-empty-menu-bar})
                #set($separator="")
                #if(${show-save} == "true" || ${show-save} == "True")
                    #if(${save-case-uri})
                        #set($save-case-uri-to-use=$save-case-uri)
                    #elseif(${save-case-as-uri})
                        #set($save-case-uri-to-use=$save-case-as-uri)
                    #end
                    $separator <a href="${save-case-uri-to-use}" target="${frameset-top-target}">${save-text}</a>
                    #set($separator=$menu-separator)
                #end
                #if((${show-save-as} == "true" || ${show-save-as} == "True") && ${save-case-as-uri})
                    $separator <a href="${save-case-as-uri}" target="${frameset-top-target}">${save-as-text}</a>
                    #set($separator=$menu-separator)
                #end
                #if((${show-load} == "true" || ${show-load} == "True") && ${load-case-uri})
                    $separator <a href="${load-case-uri}" target="${frameset-top-target}">${load-text}</a>
                    #set($separator=$menu-separator)
                #end
                #if((${show-restart} == "true" || ${show-restart} == "True") && ${restart-session-uri})
                    $separator <a href="${restart-session-uri}" target="${frameset-top-target}">${restart-text}</a>
                    #set($separator=$menu-separator)
                #end
                #if((${show-close} == "true" || ${show-close} == "True") && ${close-session-uri})
                    $separator <a href="${close-session-uri}" target="${frameset-top-target}">${close-text}</a>
                    #set($separator=$menu-separator)
                #end
            #else
                &nbsp;
            #end
        </div>
    </div>
#end