There is a monetary eligibility criteria.
	Continue the interview
	May issue a special letter, monetary Deteremination, not the same as a 492.
	The initiial claim stull contininues, as the monetary facts may be disputed and changed.
	Other issues may still be omitted in a pending state.

Determine all issues at the same time, as they be resolved independently.

