<?xml version="1.0" encoding="UTF-8"?>
<web-app id="interactive-platform" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Oracle Web Determinations</display-name>

    <servlet>
        <description>Web Determinations Platform Servlet responsible for handling all http request to the Interactive Web
            Platform
        </description>
        <servlet-name>WebDeterminationsServlet</servlet-name>
        <servlet-class>
            com.oracle.determinations.web.platform.servlet.WebDeterminationsServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>WebDeterminationsServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Charset Filter</filter-name>
        <filter-class>com.oracle.determinations.web.platform.util.CharsetFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>Charset Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
